@mixin align-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin xxl {
  @media screen and (min-width: map-get($xlBreakpoint, desktop )) {
    @content;
  }
}
@mixin xl {
  @media screen and (max-width: map-get($xlBreakpoint, desktop )) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: map-get($mdBreakpoint, desktop )) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: map-get($smBreakpoint, mobile )) {
    @content;
  }
}

@mixin number {
  color: rgba(242, 230, 216, 0.5);
  font-family: $font;
  font-size: clamp(50px, 10vw, 192px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin h1 {
  font-family: $font;
  font-size: clamp(16px, 1.6vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin h2 {
  font-family: $font;
  font-size: clamp(22px, 1.6vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin h3 {
  font-family: $font;
  font-size: clamp(12px, 1vw, 20px);
  font-style: normal;
  font-weight: 700;
}
@mixin h4 {
  font-family: $font;
  font-size: clamp(12px, 0.8vw, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin p {
  font-family: $font;
  font-size: clamp(12px, 1vw, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
@mixin subtitles {
  font-family: $font;
  font-size: clamp(22px, 1.6vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 20em;
  @include sm {
    font-size: clamp(10px, 1vw, 16px);
    line-height: unset;
  }
}
