.form-container {
  z-index: 50;

  form {
    display: grid;
    margin: 0 auto;
    gap: 20px;
    width: 600px;
    @include sm {
      @include align-items;
      flex-direction: column;
    }

    input::placeholder,
    textarea::placeholder {
      color: #9c9c9c;
      font-family: $font;
      @include sm {
        text-align: center;
      }
    }
    /* Supprimez la bordure d'outline pour les éléments input et textarea */
    input:focus,
    textarea:focus {
      outline: none;
      border-bottom: 1px solid $tertiary;
    }
    grid-template-areas:
      'firstname lastname email'
      'message message message'
      'submit submit submit';

    input,
    textarea {
      background: transparent;
      color: $primary;
      border: none;
      border-bottom: 1px solid $secondary;
      transition: all 350ms ease;
    }
  }
}
#firstname {
  grid-area: firstname;
}
#lastname {
  grid-area: lastname;
}
#email {
  grid-area: email;
}
#message {
  grid-area: message;
}

.form-message {
  visibility: hidden;
  opacity: 0;
  transition: opacity 350ms ease;
  z-index: 100;
  &.visible {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    font-size: 1.2rem;
    font-family: $font;
    letter-spacing: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
    transition: opacity 350ms ease;
    .success {
      color: rgb(87, 200, 0);
    }
    .error {
      color: rgb(255, 0, 0);
    }
  }
}
