.header {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  position: fixed;
  bottom: 0;
  z-index: 100;
  transition: all 350ms ease;

  &.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
  }
  button {
    background: transparent !important;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .navbar-container {
    width: 100dvw;
    position: fixed;
    bottom: 20px;
    z-index: 100;

    @include sm {
      height: 100dvh;
      bottom: 0;
      display: grid;
      place-items: center;
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      &.open {
        height: 100dvh;
        bottom: 0;
        display: grid;
        place-items: center;
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        backdrop-filter: blur(5px);
        background: rgba($secondary, 0.8);
      }
      .overlay {
        height: 35dvh;
        flex-flow: column wrap;
      }
    }
    .overlay {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      .animated-target {
        background-color: rgb(87, 241, 10);
        z-index: 500;
        position: absolute;
      }
    }
  }
}
//LOGO -----------------------------------------------

.logo-clicked {
  li {
    background: rgba(0, 183, 219, 0.5);
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.6500000953674316px);
    width: 103px;
    height: 83px;
    flex-shrink: 0;
    padding: 0.5%;
    @include align-items;
    position: relative;
    #logo-white {
      display: none;
    }
    @include md {
      width: 86px;
      height: 63px;
    }
  }
}

.logo-unclicked {
  li {
    width: 103px;
    height: 83px;
    flex-shrink: 0;
    padding: 0.5%;
    @include align-items;
    position: relative;

    &:hover {
      #logo-white {
        filter: drop-shadow(0 0 10px rgba($primary, 0.5));
      }
    }
    #logo {
      display: none;
    }
  }
}

#logo,
#logo-white {
  position: absolute;
  width: 70px;
  height: auto;
  transition: all 350ms ease;
  @include md {
    height: 50px;
  }
}

.burger {
  border: none;
  background: transparent;
  cursor: pointer;
  @media (min-width: 660px) {
    display: none;
  }
  @include sm {
    position: absolute;
    z-index: 102;
    top: 20px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 5px;

    &-icon {
      display: block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 10;
    }
  }
}
