.header {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 100;
  width: 100dvw;
  height: 10dvh;
  bottom: 20px;
  display: grid;
  place-items: center;
  translate: 0 0;
  transition: all 0.4s ease-in-out;
  &.isPlaying {
    @media screen and (min-width: 660px) {
      translate: 0 120px;
    }
  }
  @include sm {
    height: 100dvh;
    bottom: 0;
    display: grid;
    place-items: center;
    translate: 100% 0;
    transition: all 0.4s ease-in-out;
    z-index: 100;
    &.open {
      translate: 0 0;
    }
  }

  button {
    background: transparent !important;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .navbar-container {
    width: 100%;
    z-index: 100;
    overflow: hidden;

    @include sm {
      height: 100dvh;
      bottom: 0;
      display: grid;
      place-items: center;
      visibility: hidden;
      opacity: 0;
      translate: 100% 0;
      transition: all 0.4s ease-in-out;
      &.open {
        height: 100dvh;
        bottom: 0;
        display: grid;
        place-items: center;
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        backdrop-filter: blur(5px);
        translate: 0 0;
        background: rgba($secondary, 0.8);
      }
      .overlay {
        height: 60dvh;
        flex-flow: column wrap;
      }
    }
    .overlay {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
    }
  }
}
//LOGO -----------------------------------------------

.logo-clicked {
  li {
    background: rgba(0, 183, 219, 0.5);
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.6500000953674316px);
    width: 103px;
    height: 83px;
    flex-shrink: 0;
    padding: 0.5%;
    @include align-items;
    position: relative;
    #logo-white {
      display: none;
    }
    @include md {
      width: 86px;
      height: 63px;
    }
  }
}

.logo-unclicked {
  li {
    width: 103px;
    height: 83px;
    flex-shrink: 0;
    padding: 0.5%;
    @include align-items;
    position: relative;

    &:hover {
      #logo-white {
        filter: drop-shadow(0 0 5px rgba($primary, 0.5));
      }
    }
    #logo {
      display: none;
    }
  }
}

#logo,
#logo-white {
  position: absolute;
  width: 70px;
  height: auto;
  transition: all 350ms ease;
  @include md {
    height: 50px;
  }
}

//BURGER MENU -----------------------------------------------
.burger {
  border: none;
  background: transparent;
  cursor: pointer;
  @media (min-width: 660px) {
    display: none;
  }
  @include sm {
    position: absolute;
    z-index: 102;
    top: 20px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 5px;

    &-icon {
      display: block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 10;
    }
  }
}

//MUTE BUTTON -----------------------------------------------

.toggleMute {
  position: absolute;
  top: 8px;
  right: 21px;
  margin: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 7;
  opacity: 1;
  visibility: visible;
  transition: all 350ms ease;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  @include sm {
    display: none;
  }
  &:hover {
    animation: bounce 1s infinite;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
