.contact-container {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  @include align-items;
  flex-direction: column;

  .form {
    @include align-items;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100dvw;
    height: auto;
    z-index: 1;
    background: rgba(13, 13, 13, 0.5);
    backdrop-filter: blur(2px);
    padding-bottom: 20px;
    @include sm {
      display: grid;
      place-items: center;
      height: auto;
      top: 50%;
      translate: 0 -50%;
    }
    h1 {
      margin: 50px 0;
      text-align: center;
      color: $primary;
      font-family: $font;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.6rem;
      text-transform: uppercase;
      z-index: 51;
      position: relative;
      @include sm {
        font-size: 1rem;
        letter-spacing: 1rem;
        line-height: 1.5rem;
        padding: 0 140px;
      }
    }
  }
  video {
    z-index: 0;
  }
}
