.contact-container {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  @include align-items;
  flex-direction: column;

  .form {
    @include align-items;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100dvw;
    height: auto;
    z-index: 1;
    background: rgba(13, 13, 13, 0.5);
    backdrop-filter: blur(2px);
    padding-bottom: 20px;
    @include sm {
      display: grid;
      place-items: center;
      height: auto;
      top: 50%;
      translate: 0 -50%;
    }
    h1 {
      margin: 50px 0;
      text-align: center;
      color: $primary;
      @include h1;
      letter-spacing: 1.6rem;
      text-transform: uppercase;
      z-index: 51;
      position: relative;
      @include sm {
        font-size: 1rem;
        letter-spacing: 0.5rem;
        line-height: 1.5rem;
        padding: 0 140px;
      }
    }
    .cv-container {
      margin-top: 2%;
      display: grid;
      place-items: center;
      background-color: rgba($secondary, $alpha: 0.5);
      padding: 0.5% 1%;
      a {
        @include p;
        color: $primary;
        transition: all ease 0.3s;
        &:hover {
          color: $tertiary;
        }
      }
    }
  }
  video {
    z-index: 0;
    @include sm {
      // display: none;
      height: 50%;
    }
  }
}
video::cue {
  background-color: rgba($secondary, 0.5);
  text-shadow: 0 0 15px 15px rgba($secondary, 0.5);
  @include subtitles;
}
