.home-container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  @include align-items;
  .mode {
    position: fixed;
    top: 75px;
    right: 2%;
    font-family: $font;
    font-size: clamp(12px, 1vw, 16px);
    font-style: normal;
    font-weight: 700;
    color: $primary;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
    @include sm {
      top: 100px;
    }
    span {
      transition: all 350ms ease;
      text-shadow: 0 0 0 $tertiary, 0 0 0 $tertiary, 0 0 0 $tertiary,
        0 0 0 $tertiary;
    }
    &:hover > span {
      text-shadow: 0 0 25px $tertiary, 0 0 25px $tertiary, 0 0 50px $tertiary,
        0 0 100px $tertiary;
    }
  }
  .about-container {
    .launch-about-background {
      top: 0;
      left: 0;
      display: flex;
      place-items: center;
      width: 100dvw;
      height: 100dvh;
      position: fixed;
      background-color: rgba($secondary, 0.8);
      opacity: 1;
      z-index: 5;
      transition: all 1s ease;
      &.hide {
        opacity: 0;
      }
      .launch-about {
        padding: 20px;
        p {
          color: $primary;
          font-family: $font;
          text-transform: uppercase;
          font-size: 1rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 0.5rem;
          padding-left: 0.5rem;
          border-bottom: none !important;
          cursor: pointer;
          @include align-items;
          border: none;
          @include xl {
            font-size: 0.8rem;
            letter-spacing: 0.6rem;
            padding-left: 0.6rem;
            width: 140px;
            height: 30px;
          }
          @include md {
            font-size: 0.6rem;
            letter-spacing: 0.2rem;
            padding-left: 0.2rem;
            width: 120px;
            height: 20px;
          }
        }
      }
    }
    video {
      opacity: 1;
      animation: fade 2s ease-in-out;
    }
    @include sm {
      height: 50%;
    }
  }

  &.fade-out video {
    opacity: 0;
  }
  .text-mode {
    opacity: 1;
    animation: fade 2s ease-in-out;

    img {
      width: 20%;
      border: 1px solid $primary;
      background-color: $tertiary;
      @include md {
        width: 80%;
      }
    }
    strong {
      color: $tertiary;
    }
    display: grid;
    place-items: center;
    text-align: center;
    width: 60%;
    @include md {
      width: 80%;
    }
    @include sm {
      width: 90%;
    }
    h1 {
      @include h1;
      color: $primary;
      margin-bottom: 30px;
      @include md {
        margin-bottom: 10px;
      }
    }

    p:nth-of-type(1) {
      @include p;
      color: $primary;
      margin-bottom: 50px;
      @include md {
        line-height: 20px;
        margin-bottom: 20px;
      }
      @include sm {
        line-height: normal;
      }
    }
    p:nth-of-type(2) {
      @include p;
      color: $primary;
      @include sm {
        line-height: normal;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

video::cue {
  background-color: rgba($secondary, 0.1);
  @include subtitles;
}
