* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
// FONTS

@import url('https://use.typekit.net/wgm5loh.css');

$font: 'novecento-sans', sans-serif;

// COLORS

$primary: #f2e6d8;
$secondary: #0d0d0d;
$tertiary: #01738a;
$quaternary: #db6500;
